.body {
  margin: 0 !important;
  padding: 0 !important;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.banner {
  height: 500px;
  background: url("/img/banner.jpg") center no-repeat;
  padding: 20px;

  .about-signin {
    height: 80px;
    width: 100%;
    text-align: right;

    .about,
    .sign-in {
      margin-top: 20px;
      padding: 15px;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      border-radius: 20px;

      .sign-in {
        margin-right: 60px;
        margin-left: 25px;
      }
    }
  }

  .logo {
    background: url("/img/hapoERP.png") center no-repeat;
    height: 100px;
    margin-top: 40px;
  }

  .text {
    text-align: center;
  }

  .btn-start-now {
    text-align: center;
    margin-top: 30px;

    button {
      text-transform: uppercase;
      padding: 10px 15px;
      border-radius: 20px;
      border: 1px solid green;
      margin-top: 25px;
      cursor: pointer;
    }
  }
  .content-center {
    .left,
    .right,
    .center {
      width: 33%;
      display: inline-block;
      text-align: center;
      margin-bottom: 30px;

      span {
        display: block;
        font-size: 20px;
      }
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
}
